@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

//varible
.container {
  padding-left: 10%;
  padding-right: 10%;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.btn-start-free-trial {
  position: relative;

  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1.5px;
  color: #ffffff;

  background: linear-gradient(120deg, #6089e8 0%, #7bb2fd 100%);
  box-shadow: 0 5px 35px -16px #11399c;
  border-radius: 30px;
  width: 100%;
  height: 52px;
  max-width: 202px;
  min-width: 160px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  overflow: hidden;

  .decor {
    display: inline-block;
    width: 200px;
    height: 100%;
    position: absolute;
    right: -150px;
 
    background-color: rgba(255, 255, 255, 0.1);
    transform: skew(20deg, 0deg);

    will-change: right;
    transition: right 0.4s;
  }
  &:hover .decor {
    right: -90px;
  }
}

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.test {
  background-color: wheat;
  position: relative;
  margin-left: 40%;
}
