@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.flex-row{
  display: flex;
  flex-direction: row;
  .c1{
    flex-grow: 7;
    
  }
  .c2{
    flex-grow: 5;
  }
}