@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
  .c1{
    flex-grow: 7;
    
  }
  .c2{
    flex-grow: 5;
  }
}
.btn-start-free-trial{
  display: flex;
  background-image: linear-gradient(120deg,#6089e8 0%, #7bb2fd 100%);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 35px -16px #11399c;
  font-size: 15px;
  font-weight: normal;
  border-radius: 30px;
  width: 100%;
  max-width: 202px;
  min-width: 160px;
  height: 52px;
  letter-spacing: 1.5px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body{
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}