.section5{
  background-image: url(../../images/bg-features.jpg);
  background-size: cover;
  .left{
    width: 100%;
    max-width: 50%;
    min-height: 680px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    .mg-15{
      margin-top: 15%;
    }
    h6{
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: #4d81de;;
    }
    h2{
      font-size: 36px;
      color: #343434;
      line-height: 43px;
      margin-bottom: 15px;
      margin-top: 0px;
      font-weight: 550;
    }
    p{
     font-size: 18px;
     color: #555556; 
     line-height: 37px;
     margin-bottom: 25px;
     font-weight: 500;
     margin-top: 0px;
     text-align: left;
    }
  }
  .right{
    width: 100%;
    max-width: 50%;

    display: flex;
    justify-content: center;

    position: relative;
    .img-fluid{
      display: inline-block;

      width: auto;
      max-width: 300px;
      height: auto;
      max-height: 550px;

      margin-top: 19%;
      position: relative;
      left: 0px;

      will-change: left;
      transition: left 1s;
    }
    .img-fluid-hide{
      left: -30%;
    }
    .img-fluid-visible{
      left: 0;
    }
    .icon{
      margin-top: 19%;
      position: absolute;
      top: 10%;
      right: 15%;

      will-change: top;
      transition: top 1s;
    }
    .icon-hide{
      top: 30%
    }
    .icon-visible{
      top: 10%
    }
  }
}