.section4 {
  padding-top: 110px;
  padding-bottom: 110px;
  .left {
    width: 100%;
    max-width: 50%;
    position: relative;
    text-align: center;
    .img-fluid{
      width: auto;
      max-width: 300px;
      height: auto;
      position: relative;
      
      will-change: left;
      transition: left 0.8s;
    }
    .img-fluid-visible {
      left: 0px;
    }
    .img-fluid-hide{
      left:-30%;
    }
    .icon {
      position: absolute;
      right: 15%;
      top: 10%;
      will-change: top;
      transition: top 0.8s;
    }
    .icon-hide{
      opacity: 1;
      top: 30%;
    }
    .icon-visible{
      opacity: 1;
      top: 10%;
    }
  }
  .right {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    .mg-15 {
      margin-top: 15%;
    }
    h6 {
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: #4d81de;
    }
    h2 {
      font-size: 36px;
      color: #343434;
      line-height: 43px;
      margin-bottom: 15px;
      margin-top: 0px;
      font-weight: 550;
    }
    p {
      font-size: 18px;
      color: #555556;
      line-height: 37px;
      margin-bottom: 25px;
      font-weight: 500;
      margin-top: 0px;
      text-align: left;
    }
  }
}
