@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.header {
  position: absolute;
  z-index: 999;

  width: 100%;
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .box-logo {
      flex-grow: 4;
      .logo {
        height: 47px;
        width: 137px;
      }
    }
    .list-btn {
      display: flex;
      flex-direction: row;
      flex-grow: 2;
      align-items: center;
      justify-content: space-between;
      .list-nav-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .item {
          margin: 35px 20px 35px 20px;
          font-size: 18px;
          color: #ffffff;
          cursor: pointer;
          b {
            display: inline;
          }
          .dropdown {
            background-color: white;

            color: black;
            font-size: 15px;

            padding: 15px;
            margin-left: -30px;

            position: absolute;
            display: none;
            width: 110px;
            
            animation: appear 0.5s;
            .link1 {
              margin-bottom: 10px;
              cursor: pointer;
            }
            :hover {
              color: #4d81de;
            }
            .link2 {
              cursor: pointer;
            }
            :hover {
              color: #4d81de;
            }
          }
        }
        :hover {
          .dropdown {
            display: block;
          }
        }
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
